<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services Page</title>
</head>
<body>

<h1>Welcome to services page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nesciunt, pariatur possimus quo repellat sapiente
    tempore voluptas. Beatae distinctio doloribus enim et expedita facere, fugiat, id, laboriosam libero nemo odio ullam
    ut. Accusantium ad alias asperiores assumenda cumque dolore dolores eius facilis minima molestiae, optio pariatur
    quibusdam, rerum sit, voluptatum!</p>
<button>Click here to dance</button>
</body>
</html>